@charset "UTF-8"; 

#bulkUpdateContainerTypeahead {
    margin-bottom: 20px;
}

.simple-bulk-edit-enable.simple-bulk-edit-enabled::before {
    float: right;
    color: green;
    content: "\e013";
    font-family: "Glyphicons Halflings";
}

.aspace-simple-bulk-edit-summary-title input {
    width: 100%;
}

input[id^="ao_expression_date"] {
    width: 100%;
}

.aspace-simple-bulk-edit-summary-date.date-type-none .aspace-simple-bulk-edit-date-begin,
.aspace-simple-bulk-edit-summary-date.date-type-none .aspace-simple-bulk-edit-date-end,
.aspace-simple-bulk-edit-summary-date.date-type-none .aspace-simple-bulk-edit-date-expression,
.aspace-simple-bulk-edit-summary-date.date-type-single .aspace-simple-bulk-edit-date-end {
    display: none;
}

.aspace-simple-bulk-edit-summary-date.date-type-single .aspace-simple-bulk-edit-date-begin,
.aspace-simple-bulk-edit-summary-date.date-type-single .aspace-simple-bulk-edit-date-expression,
.aspace-simple-bulk-edit-summary-date.date-type-bulk .aspace-simple-bulk-edit-date-begin,
.aspace-simple-bulk-edit-summary-date.date-type-bulk .aspace-simple-bulk-edit-date-end,
.aspace-simple-bulk-edit-summary-date.date-type-inclusive .aspace-simple-bulk-edit-date-begin,
.aspace-simple-bulk-edit-summary-date.date-type-inclusive .aspace-simple-bulk-edit-date-end {
    display: inline;
}

.aspace-simple-bulk-edit-date-expression .input-group {
    width: 100%;
}