@charset "UTF-8";

#child-fill-toggle,
#global-tc-toggle {
    margin-left: 8px;
}

#child-fill-toggle::after,
#global-tc-toggle::after {
    margin-left: 4px;
    float: right;
    content: "\e114";
    font-family: "Glyphicons Halflings";
}

#child-fill-toggle.open::after,
#global-tc-toggle.open::after {
    content: "\e113";
}

#global-tc-explain-toggle {
    margin-left: 8px;
    background-color: #666;
    color: #fff;
}

#global-tc-explain-toggle::after {
    content: "More \002b";
}

#global-tc-explain-toggle.open::after {
    content: "Less \2212";
}

#global-tc-explain {
    margin-left: 2em;
    font-style: italic;
}

#child-ind-fill,
#bulkUpdateContainerTypeahead,
#global-tc-explain {
    margin-top: 8px;
    max-width: 400px;
    display: none;
    font-weight: normal;
}

#bulkUpdateContainerTypeahead .col-sm-12 {
    margin-top: 8px;
}

#bulkUpdateContainerTypeahead .col-sm-12 p {
    font-weight: bold;
}

.simple-bulk-edit-enable.simple-bulk-edit-enabled::before {
    float: right;
    color: green;
    content: "\e013";
    font-family: "Glyphicons Halflings";
}

.aspace-simple-bulk-edit-summary-title {
    min-width: 25%;
}
.aspace-simple-bulk-edit-summary-title input {
    width: 100%;
}

input[id^="ao_expression_date"] {
    width: 100%;
}

.aspace-simple-bulk-edit-summary-date.date-type-none .aspace-simple-bulk-edit-date-begin,
.aspace-simple-bulk-edit-summary-date.date-type-none .aspace-simple-bulk-edit-date-end,
.aspace-simple-bulk-edit-summary-date.date-type-none .aspace-simple-bulk-edit-date-expression,
.aspace-simple-bulk-edit-summary-date.date-type-single .aspace-simple-bulk-edit-date-end {
    display: none;
}

.aspace-simple-bulk-edit-summary-date.date-type-single .aspace-simple-bulk-edit-date-begin,
.aspace-simple-bulk-edit-summary-date.date-type-single .aspace-simple-bulk-edit-date-expression,
.aspace-simple-bulk-edit-summary-date.date-type-bulk .aspace-simple-bulk-edit-date-begin,
.aspace-simple-bulk-edit-summary-date.date-type-bulk .aspace-simple-bulk-edit-date-end,
.aspace-simple-bulk-edit-summary-date.date-type-inclusive .aspace-simple-bulk-edit-date-begin,
.aspace-simple-bulk-edit-summary-date.date-type-inclusive .aspace-simple-bulk-edit-date-end {
    display: inline;
}

.aspace-simple-bulk-edit-date-expression .input-group {
    width: 100%;
}

.aspace-simple-bulk-edit-current-container, 
.aspace-simple-bulk-edit-instance-type,
.aspace-simple-bulk-edit-container-type {
    width: 100%;
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #ccc;
}

.aspace-simple-bulk-edit-current-container .current-container {
    font-style: italic;
    margin-left: 8px;
}

.aspace-simple-bulk-edit-type-warn,
.aspace-simple-bulk-edit-indicator-warn {
    padding: 4px;
}