@charset "UTF-8"; 

#bulkUpdateContainerTypeahead {
    margin-bottom: 20px;
}

.simple-bulk-edit-enable.simple-bulk-edit-enabled::before {
    float: right;
    color: green;
    content: "\e013";
    font-family: "Glyphicons Halflings";
}

.aspace-simple-bulk-edit-summary-title input {
    width: 100%;
}